# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
tiles.txt
Entrega_Final_Jesus_Jimenez_Montero_stable.elf
Entrega_Final_Jesus_Jimenez_Montero_stable.nds
Entrega_Final_Jesus_Jimenez_Montero.elf
Entrega_Final_Jesus_Jimenez_Montero.nds
ai.txt

build/

*.elf
*.nds